h1 {
  color: #c11818;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: 'Bangers', sans-serif;
  font-size: 3.5em;
  letter-spacing: 3px;
}

.light {
  background: #FFF
}

.dark {
  color: #FFF;
  background: #00162E;
}

.checkbox {
  display: none;
}

.checkbox:checked + .toggle::after {
  left: 20px;
}

.checkbox:checked + .toggle {
  background-color: #7983FF;
}


.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #eee;
  border-radius: 20px;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: red;
  top: 1px;
  left: 1px;
  transition: all 0.3s;
}