.heroDiv {
  display: inline-block;
  width: 15rem;
}

.heroName {
  font-family: 'Bangers', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.heroDiv img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

a {
  color: #007BFF;
  font-size: 0.75em;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  font-weight: 700;
}